body {
    margin: 0;
    padding: 0;
    background-color: #000000;
}
  
  /* Header */
  header {
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .logo img {
    margin-right: 10px;
    margin-left: 20px;
  }
  
  .logo h1 {
    color: #fff;
    font-size: 20px;
    margin-left: 0;
    display: flex;
    float: right;
    margin-top: 45px;

  }
  
  nav ul {
    list-style-type: none;
    margin-right: 30px;
  }
  
  nav ul li {
    display: inline-block;
    margin-left: 10px;
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
  }

  /* About section styles */
.about-section {
    padding: 40px 0;
    text-align: center;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    color: #fff;
  }
  
  h2 {
    font-size: 32px;
    margin-bottom: 20px;
  }

  .about-description {
    font-size: 16px;
    margin-bottom: 20px;
  }
  
  .about-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .contact-info, .map-container {
    flex: 0 0 300px;
    margin: 20px;
  }
  
  .contact-info h3, .map-container h3 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .contact-info ul {
    list-style-type: none;
    text-align: left;
  }
  
  .contact-info li {
    margin-bottom: 10px;
  }
  
  .map-container {
    position: relative;
    overflow: hidden;
    padding-top: 56.25%; /* Adjust this value to set the aspect ratio of the map */
    
  }
  
  .map-container a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    margin-top: 20px;
    
  }

  .container-footer {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .footer-content h1 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .footer-content p {
    font-size: 16px;
    margin-bottom: 20px;
  }
  
  /* Footer styles */
  footer {
    background-color: #fff;
    padding: 20px 0;
    
  }
  
  .footer-content {
    text-align: center;
    margin-bottom: 10px;
  }
  
  .footer-content h2 {
    font-size: 24px;
  }
  
  
  /* Responsive styles */
  @media screen and (max-width: 768px) {
    .logo {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
    
      .logo img {
        margin: 0;
        margin-bottom: 10px;
      }
    
      .logo h1 {
        margin-top: 0;
        font-size: 18px;
        text-align: center;
      }
    
      nav ul {
        margin-right: 0;
      }
   
    .contact-info {
      flex-basis: calc(100% - 40px);
    }

    footer {
        margin-top: 20px;
      }

      .map-container {
        padding-top: 75%; /* Adjust this value for a different aspect ratio on smaller screens */
      }
  }
  